   html {
       box-sizing: border-box;
   }
   
   *,
   *::after,
   *::before {
       box-sizing: inherit;
   }
   
   body {
       font-family: Arial, Helvetica, sans-serif;
       margin: 0 auto;
       padding: 0;
   }
   
   .centrado {
       text-align: center;
   }
   
   .encabezado {
       margin-top: 2rem;
   }
   
   .contenedor {
       max-width: 1100px;
       margin: 0 auto;
   }
   /* pruductos */
   
   .productos {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       padding: 1rem 1rem;
   }
   
   .productos .producto {
       border: 1px solid #d9d9d9;
       margin-bottom: 1rem;
       padding: 1rem;
       border-radius: 5px;
       box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
       flex: 0 0 calc(100% - 1rem);
   }
   
   .productos .producto .imagen-producto {
       width: 100%;
   }
   
   @media only screen and (min-width: 768px) {
       .productos .producto {
           flex: 0 1 calc(33% - 1rem);
       }
   }
   
   @media only screen and (min-width: 1021px) {
       .productos .producto {
           flex: 0 0 calc(25% - 1rem);
       }
   }
   
   .info-producto {
       margin-bottom: 1rem;
   }
   
   .info-producto h4 {
       margin-bottom: 1rem;
       font-size: 1.2rem;
   }
   
   .info-producto .precios {
       display: flex;
       justify-content: space-between;
       margin-bottom: 1rem;
   }
   
   .info-producto .precios .regular {
       text-decoration: line-through;
       color: red;
   }
   
   .info-producto .precios .especial {
       font-size: 1.6rem;
       font-weight: 700;
       color: green;
   }
   
   .info-producto .boton {
       background-color: #0F94D2;
       padding: .7rem 1rem;
       color: white;
       margin: 0;
       text-decoration: none;
       text-align: center;
       display: block;
       text-transform: uppercase;
   }